@media (max-width: 576px) { /*sm*/
    #header{
        height: 50vh;
    }
    #bg-img{
        width: 50%;
        position: absolute;
        bottom: 0px;
    }
    #description{
        font-size: 0.8em;
    }
    #bigscreen{
        display: none;
    }
 }

@media (min-width: 576px) { /*sm*/
    #header{
        height: 40vh;
    }
    #bg-img{
        width: 50%;
        position: absolute;
        bottom: 0px;
    }
    #description{
        font-size: 1em;
    }
    #bigscreen{
        display: none;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { /*md*/
    #header{
        height: 50vh;
    }
    #bg-img{
        width: 80%;
        right: 0px
    }
    #bg-container{
        height: 40vh;
        position: absolute;
        bottom: 32px;
        right: 0px
    }
    #description{
        font-size: 1.2em;
    }
    #midscreen{
        display: block;
    }
 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { /*lg*/
    #description{
        font-size: 1.4em;
    }
 }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1420px) { /*xl*/
    #header{
        height: calc(80vh - 40px);
    }
    #midscreen{
        display: none;
    }
    #bg-img{
        width: 100%;
        position: relative;
    }
    #bigscreen{
        display: block;
    }
    #avatar-container{
        width: 25%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    #scenery {
        height: 100%;
    }
 }

 .blinking-caret{
    animation: caret 1s steps(1) infinite;
    border-right: 0.08em solid;
    padding-right: 1px;
    height: 35px;
}
@keyframes caret {
    50% {
        border-color: transparent;
    }
}